certifi==2021.5.30
chardet~=3.0.2
future==0.18.2
idna~=2.7.0
oauthlib==3.1.1
python-magic-bin==0.4.14
requests==2.20.0
requests-oauthlib==1.3.0
setuptools-scm==6.0.1
thehive4py==1.8.1
urllib3~=1.24.0
wrapt==1.12.1
